.module_main_container{
    overflow-y: auto;
    width: 83%;
    z-index: 5;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-left: 17%;
    background-color: rgba(0, 0, 0, 0.26);
}
.field_container{
    /* max-height: 80vh; */
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding:2rem;
    gap:15px;
    border-radius: 10px;
}
.field_container p{
    font-weight: 500;
    margin: 0;
}
.field_container textarea{
    padding: 0.5rem;
}
