.insert_formation_container{
    margin-left: 15%;
    padding: 1rem;
}
.modal_main_container{
    background-color: rgba(0, 0, 0, 0.301);
    position: fixed;
    margin-left: 15%;
    width: 85%;
    height: 100vh;
    z-index: 5;
    /* border:1px solid; */
    display: flex;
    justify-content:center ;
    align-items: center;
}
.add_formation{
    color: white;
    cursor: pointer;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    top: 40px;
    right: 35px;
    position: fixed;
    background-color: rgb(39, 71, 255);
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 7px;
}
.modal_container{
    background-color: white;
    padding: 3%;
    border-radius: 10px;
    /* border: 1px solid; */
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
#nom{
    width: 100%;
    padding: 1rem;
}
#desc{
    padding: 1rem;
}
::placeholder{
    font-size: 15px;
}
.close{
    cursor: pointer;
    align-self: flex-end;
    font-size: 30px;
    padding: 5px;
}
.post{
    cursor: pointer;
    width: 100%;
    padding: 1rem;
}
.close:hover{
    background-color: rgba(172, 172, 172, 0.445);
    border-radius: 30px;
}
.expiration{
    display: flex;
    gap: 1rem;
    justify-content: center;
}
.del,.edit,.valid{
    font-size: 20px;
    width: fit-content;
    margin: 0 0.5rem;
}
.edit{
    background-color: rgb(39, 71, 255);
}
.valid{
    background-color: green;
}