.formation_main_container{
    display: flex;
    flex-wrap: wrap;
}
.card{
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.2) 5px 5px 15px;
    width: 310px;
    height: 350px;
    padding: 1rem;
    margin: 1%;
}
.voir_btn{
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 200px;
  padding:0.5rem 1rem;
  border: none;
  cursor: pointer;
  background-color: #00471a;
  color: white;
  border-radius: 5px;
}