.load_more{
    width: 100%;
    height: 89vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.information_container h1{
    margin: 0;
}
.voir_main_container{
    position: relative;
    width: 100%;
    height: 89vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.information_container,.image_container{
    overflow-y: auto;
    padding: 5rem;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    /* align-items: center; */
}
.inscription_btn{
    font-size: 15px;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 1rem;
    margin: 1rem 0;
    cursor: pointer;
    width: 200px;
    background-color: rgb(30, 100, 230);
}
.back_btn{
    /* color: white; */
    font-size: 15px;
    background-color: rgb(143, 143, 143);
    border-radius: 10px;
    border: none;
    padding: 1rem;
    margin:1rem 0;
    cursor: pointer;
    width: 200px;
}
.btn_container{
    /* position: absolute;
    bottom: 20px;
    left: 20px; */
    margin-top: 20%;
    display: flex;
    gap: 1rem;
    /* flex-direction: column; */
}
.image_container{
    background: url('../../public/6566149.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}